 body {
    background-color: black;
}
body {
    color: #ffffff ;
    font-family: Arial, sans-serif;
    font-style: italic;
}
h1 {
	color: LightCyan ;
  font-size: 50px
}


A.class1 {color:LightCyan ;}
A.class1:link  {text-decoration: none; color: LightCyan ;}
A.class1:visited {text-decoration: none; color: LightCyan ;}

p.solid {border-style: solid;}

a, a:visited {
	color: Crimson;
  text-decoration:none;
}
body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
h1, p {
    text-align: center;
}
p {
  color: Crimson
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 8px solid Crimson;
    text-align: center;

}

tr:nth-child(even) {
    background-color: Crimson;
}
