 body {
    background-color: black;
}
body {
    color: #ffa96b ;
    font-family: Arial, sans-serif;
    font-style: italic;
}
h1 {
	color: LightCyan ;
  font-size: 50px
}
A.class1 {color:LightCyan ;}
A.class1:link  {text-decoration: none; color: LightCyan ;}
A.class1:visited {text-decoration: none; color: LightCyan ;}

a, a:visited {
	color: Crimson;
  text-decoration:none;
}
body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
h1, p {
    text-align: center;
}
p {
  color: Crimson
}
