 body {
    background-color: black;
}
body {
    color: #c2b280 ;
    font-family: Arial, sans-serif;
    font-style: italic;
}
h1 {
	color: #4183D7;
  font-size: 50px
}
a, a:visited {
	color: #c2b280
}
body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
h1, p {
    text-align: center;
}
p {
  color: #c2b280
}
